a:hover, a *:hover {
    text-decoration: none;
    color: #1eb1fc;
}

.breaking-news-container p a:hover {
    color: #1eb1fc;
}

.desktop-nav .links-container .nav-item .nav-link:hover {
    color: #757575;
}