.container.col-lg-12.col-md-12
  .row
    .column.col-lg-3.order-lg-1.col-md-12.order-md-2
      .left
        h6 TRENDING
        .post-container.first
          ul
            li
              a(href="#")
                .head I Don't Hate Women Candidates - I Just Hated Hillary and Coincidentally I'm Starting to Hate Elizabeth Warren
              .byline <span>by </span> DEVORAH BLACHOR
        .post-container
          ul
            li
              a(href="#")
                .head List: If People Talked to Other Professionals the Way They Talk to Teachers
              .byline <span>by </span> SHANNON REED
        .post-container
          ul
            li
              a(href="#")
                .head Todler Feelings Helpline
              .byline <span>by </span> SARA GIVEN
    .column.col-lg-6.order-lg-2.col-md-12
      .middle
        h6 OUR LATEST POST
        .post-container.first
          ul
            li
              a(href="#")
                .head SO YOU GOT A BOOK DEAL BINGO
                .deck "Eat reward snack after five minutes of writing."
                .byline <span>by </span> ALLISON HIRSCHLAG
        .post-container
          ul
            li
              a(href="#")
                .head How to Bathe a Horse
                .byline <span>by </span> CASEY RAND
            li
              a(href="#")
                .head My Sister Pushes the Lobster
                .byline <span>by </span> JESSE EISENBERG
            li
              a(href="#")
                .head Hipster Economics: A Glossary
                .byline <span>by </span> THATCHER JENSEN
    .column.col-lg-3.col-md-12.order-md-3
      .right
        h6 OVER AT MCSWEENEY'S PUBLISHING
        .post-container
          ul
            li
              a(href="#")
                .head Oulipian Excerpts from <i>All That is Evident is Suspect: </i>Hevre Le Tellier, from <i>Liquid Tales </i>
              .byline <span>by </span> HEVRE LE TELLIER
        .post-container
          ul
            li
              a(href="#")
                .head Puffer Problems
              .byline <span>by </span> AMY FUSSELMAN
        .post-container
          ul
            li
              a(href="#")
                .head A Preternatural Devotion: Remembering Ricky Jay
              .byline <span>by </span> LAWRENCE WESCHLER
        .post-container
          ul
            li
              a(href="#")
                .head Oulipian Excerpts from <i>All That is Evident is Suspect: </i>Oliver Salon, from: "Invisible Cities: Lille"
              .byline <span>by </span> OLIVER SALON
  
