section.articles-container
  .column.left-column-container
    .inner-container
      h6 TRENDING
      .post-container
        ul
          li
            a(href="#")
              .head I Don't Hate Women Candidates - I Just Hated Hillary and Coincidentally I'm Starting to Hate Elizabeth Warren
            .byline <span>by </span> DEVORAH BLACHOR
  .column.middle-column-container
    .inner-container
      h6 OUR LATEST POST
      .post-container
        ul
          li
            a(href="#")
              .head SO YOU GOT A BOOK DEAL BINGO
              .deck "Eat reward snack after five minutes of writing."
              .byline <span>by </span> ALLISON HIRSCHLAG
  .column.right-column-container
    .inner-container
      h6 OVER AT MCSWEENEY'S PUBLISHING
      .post-container
        ul
          li
            a(href="#")
              .head Oulipian Excerpts from <i>All That is Evident is Suspect: </i>Hevre Le Tellier, from <i>Liquid Tales </i>
            .byline <span>by </span> HEVRE LE TELLIER
      .post-container
        ul
          li
            a(href="#")
              .head Puffer Problems
            .byline <span>by </span> AMY FUSSELMAN
  
