section.articles-container
  .left-column-container
    h6 OUR LATEST POST
  .middle-column-container
    h6 OUR LATEST POST
    ul
      li
        a(href="#")
          .category LISTS
          .head HOW TO BATHE A HORSE
          .deck "If you are buying a horse for a single soak, you're either very welathy or<br>very uninformed about median horse prices."
          .byline <span>by </span> CASEY RAND
  .right-column-container
    h6 OUR LATEST POST
  
