.desktop-nav
  .search-container
    nav.navbar.navbar-light.bg-light
      form.form-inline
        input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
  .links-container
    ul.nav.justify-content-center
      li.nav-item
        a.nav-link.active(href="#") Internet Tendency
      li.nav-item
        a.nav-link.active(href="#") The Store
      li.nav-item
        a.nav-link.active(href="#") Books Division
      li.nav-item
        a.nav-link.active(href="#") Quarterly Concern
      li.nav-item
        a.nav-link.active(href="#" id="last") Donate
.masthead
  .masthead-container-left.desktop
    img(src="../../img/Icon.png")
  a.logo-container(href="#")
    .logo-text
      h1 McSWEENEY'S
    .logo-caption
      p INTERNET TENDENCY
  .masthead-container-right.desktop
    h5 Daily humor <br> almost every day <br> since 1998.

