<!DOCTYPE html>
html(lang="en")
  head
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel="stylesheet", href="../sass/main.scss")
    script(src="../js/main.js")
  body
    header
      include ./header.pug
    main
      .breaking-news-container
        h6 MCSWEENEY'S INTERNET TENDENCY'S PATREON
        .breaking-news
          p
            a(href="#") Our Patreon campaign keeps rolling along. As little as $1 month (only $12 <br>a year!) is all it takes to support our writers and to keep our site ad-free.
      include ./articles.pug